@charset "utf-8";
@import url("x_base.css");

.slider {
    width: 800px;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
  }
  
  .slides {
    width: 500%;
    height: 300px;
    display: flex; 
  }
  
  .slides input{
    display: none;
  }
  
  .slide {
    width: 20%;
    transition: 2s;
  }
  
  .slide img{
    width: 800px;
    height: 325px;
  }
  
  
  .navigation-manual{
  position: absolute;
  width: 800px;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  }
  
  .manual-btn{
    border: 2px solid #0defff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }  
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  .navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 360px;
  }
  
  .navigation-auto div{
    border: 2px solid #0defff;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background:  #0defff;
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background:  #0defff;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background:  #0defff;
  }
  

  .Restaurant{
    
    margin-left: 75px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
  }

  TNC {
    font-size: 175%;
    margin-left: 10em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
  }
  
  .tnc{
  overflow:auto;
  border: 8px solid rgb(255, 174, 0);
  padding: 5%;
  margin-left: 10em;
  border-spacing: 50px;

  
  }

  .left {
      margin-top:100px;
      margin-left: 10em;
      flex-basis: 40%;
      border: 10px solid brown;
      
  }
 
  .right {
    margin-bottom:-100px;
    margin-right:250px;
    font-size: 14px;
    padding-left:10px;
  }

  @media only screen and (max-width: 480px) {
    
    #Promotion_Banner{
        font-size: 1em;
    }
    #AboutUS {
        flex: 30%;
    }
  
   
  }
  