@charset "utf-8";
@import url("x_base.css");

#header2{
    text-align: center;
    font-size: 35px;
    padding: 50px 50px 0px 50px;
    clear: both;   
}
/* Image Style */
.map{
    margin: 20px 100px 100px 200px;
    float: left;
    border-radius: 25px;
}
.logo{
    border-radius: 50%;
}
.side{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 60px 0px 60px 38%;
}
.text{
    font-size: 25px;
    margin-left: 40px;
}

/* Article Style */
.article{
    word-wrap: break-word;
}

/* Media Style */
@media only screen and (max-width: 480px) {
    .map{
        transform: translate(-200px);
    }
    .article{
        text-align: center;
    }
    .side{
        transform: translate(-120px);
    }
    iframe{
        width: 100%;
    }
}
