@charset "utf-8";


#logo {
	float: left;
	padding: 8px 5px;
}

a#navicon {
    display: none;
 }

body {
    margin: 0 auto;
    width: 100%;
    background-image: url("img file/background1.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
	background-attachment: fixed;
    max-width: 2500px;
}

header{
    text-align: center;
    font-size: 35px;
    padding: 50px;
    clear: both;   
}

/* Navigation Bar Style */

.image{
    max-width: 12.5px;
    max-height: 5px;
}

nav.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url("img file/header.jpg");
	height: 60px;
  }
  
nav.navbar ul li {
    float: left;
    width: 12.5%;
}
  
nav.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-size:1.6em;
}
  
nav.navbar ul li a:hover {
    background-image: url("img file/hover.png");
	background-size: cover;
}





/* Footer Style */

footer{
    margin-top: 100px;
    background-image:url("img file/footer.jpg");
    background-size: cover;
    display: flex;
    color: white;
    clear: both;
}

footer > div{
    flex: 1;
    margin: 25px;
}


@media only screen and (max-width:1000px) {
    a#navicon {
		display: block;
        background-image: url("img file/header.jpg");
	}
	
    #logo {
        display: none;
    }

    nav.navbar ul {
        display: none;
        height:fit-content;
        width: fit-content;
    }

    nav.navbar ul li {
        float: none;
        width: fit-content;
    }

   a#navicon:hover+ul, nav.navbar ul:hover {
	   display: block;
   }   	
}

@media only screen and (max-width: 480px) {

    a#navicon img {
        width: 40px;
        height: 25px;
    }
    nav.navbar ul li a {
        font-size: 0.7em;
    }
    nav.navbar ul li a {
        padding: 6px 7px;
    }
    footer {
        font-size: 0.6em;
    }
}