@charset "utf-8";
@import url("x_base.css");

.row  {
    display: flex;
    flex-wrap: wrap;
}

#description {
    font-size:2.5em;
    flex: 1;
    padding-left: 25px;
    padding-right: 25px;
    min-width: 30%;
}

#welcomeBoard {
    background: url("img file/board.jpg");
    background-size:cover;
    flex: 1;
    display: grid;
    max-width: fit-content;
    height:fit-content;
}

.restaurantName {
    font-size:3em;
    text-align: center;
    font-family: "Viner Hand ITC";
    color: orange;
    grid-column: span 12;
}

.welcomeMessage {
    text-align: center;
    color:white;
    font-size: 4em;
    writing-mode:vertical-rl;
    background-image: url("img file/wlcMessage.png");
    background-size:cover;
    width:100%;
    grid-column: span 1;
    animation: color-change 3s infinite;
    text-shadow: 8px 8px 3px rgb(24, 23, 23);
}

@keyframes color-change {
    0% { color:rgb(253, 241, 218) }
    20% { color: rgb(255, 231, 182); }
    40% { color: rgb(253, 210, 130); }
    60% { color:rgb(252, 196, 94); }
    80% { color: rgb(255, 185, 56); }
    100% { color: rgb(255, 166, 0); }
  }

.firstImage {
    grid-column: span 11;
}

article {
    padding-bottom: 100px;
}

.row span {
    animation: dye 5s linear infinite forwards;
  }

  @keyframes dye {
    0% { color:white; }
    50% { color:orange; }
    100% { color: black; }
  }

@media only screen and (max-width: 480px) {

    #description {
        font-size: 1em;
    }
    .restaurantName {
        font-size: 1.1em;
    }
    .restaurantName img {
        width: 40px;
        height: 25px;
    }
    .welcomeMessage {
        font-size: 1.9em;
        text-shadow: 4px 4px 3px rgb(24, 23, 23);
    }
    .firstImage img {
        width: 320px;
        height: 250px;
    }
}