@charset "utf-8";
@import url("x_base.css");

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

.sashimi {
  font-size:2em;
    text-align: center;
    height:100%;
}

.sushi {
    text-align: center;
    height:100%;
    padding-bottom: 180px;
}

.row1 {
    height:50%;
    font-family: "Viner Hand ITC";
    font-size: 3em;
    color: orange;
    text-shadow: 5px 5px orangered;
}
.row2 {
    font-size:2em;
    height:50%;
}

.fusionRoll {
    font-size:2em;
    text-align: center;
    height:100%;
}

.centerText {
    margin-top: -180px;
}

.big {
  font-family: "Viner Hand ITC";
  font-size: 3em;
  color: orange;
  text-shadow: 5px 1px orangered;
}

@media only screen and (max-width: 480px) {
  .sashimi {
    font-size: 1em;
  }
  .sushi {
    padding-bottom: 90px;
  }
  .row1 {
    font-size: 1.5em;
  }
  .row2 {
    font-size:1em;
  }
  .fusionRoll {
    font-size: 1em;
  }
  .big {
    font-size: 1.5em;
  }
  .sashimi img {
    width: 250px;
    height: 300px;
  }
  .row2 img {
    width:190px;
  }
  .fusionRoll img {
    width: 250px;
    height: 300px;
  }
  .centerText {
    margin-top: -90px;
}
}

/*Sashimi and Fusion roll Menu layout*/

.sashimiMenu table {
  height: 800px;
}

p:before { 
    content: "\00a0 "; 
    padding-right: 10px;
}

table, td, th {  
    border: 3px solid black;
    text-align: center;
  }
  
  table {
    border-collapse: collapse;
    width: 50%;
    font-size: 2.2em;
    margin-left: 25%; 
    margin-right: 25%;
  }
  
  th, td {
    padding: 15px;
  }

  @media only screen and (max-width: 480px) {
    .sashimiMenu table {
      height: 400px;
    }
    p:before { 
      padding-right: 5px;
  }
  table, td, th {  
    border: 1.5px solid black;
  }
  table {
    font-size: 0.8em;
  }
  th, td {
    padding: 7px;
  }
  .big img {
    width:100px;
    height:100px;
  }
  }

  /*Sushi menu layout*/

  .sushiMenu img {
    width:  200px;
    height: 200px;
    object-fit: contain;
  }

  .sushiMenu ul {
    font-size: 2.2em;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
  }

  .sushiMenu ul img:hover {
    transform: scale(1.5); 
  }

  .hide {
    display:none;
  }

  .sushiMenu img:hover + .hide {
    display: block;
    animation-name: shine;
    animation-duration: 0.5s;
  }

  @keyframes shine {
    0% { color:rgb(253, 241, 218) }
    50% { color:rgb(252, 196, 94); }
    100% { color: rgb(255, 166, 0); }
  }

  #sushi {
    display: flex;
    flex-wrap: wrap;
  }

#sushi div {
  flex:1;
}

@media only screen and (max-width: 480px) {
  .sushiMenu img {
    width:  100px;
    height: 100px;
  }
  .sushiMenu ul {
    font-size: 0.7em;
  }
}