@charset "utf-8";
@import url("x_base.css");

/* Slideshow */
.slider {
  width: 45em;
  height: 20em;
  flex:1;
  border-radius: 10px;
  overflow: hidden;
  margin: auto;
}

.slides {
  width: 500%;
  height: 300px;
  display: flex; 
}

.slides input{
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 800px;
  height: 325px;
}


.navigation-manual{
position: absolute;
width: 45em;
margin-top: 60px;
display: flex;
justify-content: center;
}

.manual-btn{
  border: 2px solid #0defff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}  

.manual-btn:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

.navigation-auto{
  position: absolute;
  display: flex;
  width: 45em;
  justify-content: center;
  margin-top: 360px;
}

.navigation-auto div{
  border: 2px solid #0defff;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background:  #0defff;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background:  #0defff;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background:  #0defff;
}




/* Image Style */



#Table1 > header {
  margin-top: 2em;
}

.events{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 50px;
  max-width: 55em;
  margin: 0 auto;
  text-align: center;
}

.happenings{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 75px;
  grid-auto-rows: minmax(150px, auto);
  max-width: 45em;
  margin-left: auto;
  margin-right:  auto;
  justify-content: center;
}



@media only screen and (max-width: 480px) {
    
  #Promotion_Banner{
      font-size: 1em;
  }
  #Table1 {
      flex: 30%;
  }

  #Table2 {
    flex: 30%;
}
}