@charset "utf-8";
@import url("x_base.css");

/* Table Style */
table{
    border: 1px solid black;
    margin: 0px auto 0px auto;
    padding: 5px;
    text-align: left;
}
th{
    background-color: silver;
    padding: 15px;
}
.type::after{
   content: "*";
   color: red;
}
#name, #contact{
    height: 50px;
}
#date{
    height: 40px;
}
#reserve{
    padding-bottom: 50px;
    text-align: center;
    font-size: 20px;
}
#name:focus, #contact:focus{
    background: rgb(220, 255, 220) url(img3/png-clipart-computer-icons-check-mark-tick-and-cross-text-logo.png)
    bottom right/contain no-repeat;
}
#name:focus:invalid, #contact:focus:invalid{
    background: rgb(240, 136, 125) url(img3/png-transparent-computer-icons-button-check-mark-cross-red-cross-photography-trademark-logo.png)
    bottom right/contain no-repeat;
}
#name, #contact, #date, #instruct {
    background-color: transparent;
    border: 0.1px solid black;
}
.reserve{
    width: 130px;
    height: 35px;
    border-radius: 30px 50px 30px;
}

/* Image Style */
.column {
    float: left;
    width: 33.33%;
    text-align: center;
    font-size: 20px;
    margin-bottom: 120px;
}

.column img {
    height:fit-content;
}

/* Media Style */
@media only screen and (max-width: 480px) {
    .column{
        width: 100%;
    }
    header {
        font-size: 1.5em;
    }
    body {
        font-size: 0.6em;
    }
    img{
        width: 100%;
    }
}