@charset "utf-8";
@import url("x_base.css");

#header2{
    margin-top: 100px;
}
/* Table Style */
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0px auto 0px auto;
    table-layout: fixed;
}
th{
    background-color: silver;
    white-space: pre-line;
    padding: 10px;
}
#list{
    transform: translate(90px);
}

/* Form Style */
#apply{
    border-style: hidden;
    border-top: 1px solid black;
    border-bottom: inherit;
}
.label{
    text-align: left;
    width: 30%;
    padding: 15px;
}
.label::after{
   content: "*";
   color: red;
}
#name, #nationality, #email, #address, #history{
    border: transparent;
    background-color: transparent;
    height: 50px;
    width: 100%;
}
#date{
    border: transparent;
    background-color: transparent;
    height: 50px;
}
#application{
    margin-top: 40px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 22px;
}
.application{
    width: 130px;
    height: 35px;
    border-radius: 30px 50px 30px;
}

/* Media Style */
@media only screen and (max-width: 480px) {
    #list{
        transform: translate(-15px);
    }
    header {
        font-size: 1.5em;
    }
    body {
        font-size: 0.6em;
    }
}
